__pycache__/
.vscode/
paper/target paper/T2-PLT9-1C8-1 (Dataset)/
Jouannic_dataset_2/.Asian-African panel_CIAT/
Jouannic_dataset_2/.crl1_WT_2022/
Jouannic_dataset_2/.P-TRAP_Og_CG14/
Jouannic_dataset_2/.TEST-picture analysis_F1/